 body {
   padding:0;
    
    font-family: Arial, sans-serif;
  } 
  
  .light-mode {
    background-color: white,rgba(211, 211, 211, 0.481),linear-gradient(45deg,#194b4f,#33fffc);
    color: black,rgba(211, 211, 211, 0.481);
     /* height: 100vh;  */
    display: flex;
    flex-direction: column;
     /* align-items: center;
    justify-content: center;  */
  }
  
  .dark-mode {
    background-color: rgb(24, 19, 19);
    color:white;
      
    display: flex;
    flex-direction: column;
     /* align-items: center;
    justify-content: center;  */
  }
  
  .toggle-btn {
    /* padding: 20px 20px; */
    height:40px;
    width:40px;
    font-size: 16px;
    margin-bottom: 0px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    padding-right: 15px;
  }
  
  .toggle-btn:hover {
    background-color: rgb(255, 174, 0);
  }
  .position1{
    /* padding-left: 100px;
    padding-right: 5px;
    padding-top:5px; */
    align-items:end;
  }
  
